<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <div align="center" style="padding-top: 20px;">
            <h2>About me</h2>
            <img id="pic" src="Assets/images/Me.jpg" alt="demo" width="140px" height="140px">
        </div>

        <table align="center">
            <tr>
                <td><b>Name: </b></td>
                <td>Shahab Heidari</td>
            </tr>
            <tr>
                <td valign="top"><b>About me: </b></td>
                <td>
                    My name is Shahab Heidari. I'm a software student at Centennial College. I was born and raised
                    in Iran. <br>
                    I studied civil engineering and i got my master in civil structral in Iran. <br>
                    I moved to Canada about 1 year ago and then I decided to start studying software
                    engineering.<br>
                    I like to travel. I believe travelling gives you a new perspective to everything. <br>
                    You get to
                    know a lot about the different cultures, the cuisines, their history, the language and all
                    the small unique things every place has to offer.<br>
                    I also like photography and playing Piano
                </td>

            </tr>
            <tr>
                <td><b>Resume: </b></td>
                <td><a href="Assets/images/resume.pdf">Click Here</a></td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <td>Here is some of my photos: </td>
            </tr>
            <tr>
                <td><img id="pic" src="Assets/images/Edge of Earth.JPG" alt="demo" width="300px" height="200px"></td>
                <td><img id="pic" src="Assets/images/kingdom of the air.JPG" alt="demo" width="300px" height="200px">
                </td>
            </tr>
            <tr>
                <td><img id="pic" src="Assets/images/Living Over Clouds.JPG" alt="demo" width="300px" height="200px">
                </td>
                <td><img id="pic" src="Assets/images/Sea made of clouds.JPG" alt="demo" width="300px" height="200px">
                </td>
            </tr>
        </table>
        </div>
        </body>

        </html>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>